# Set key repeat: delay(ms) nrrepeats(s)
xset r rate 210 40

# programmer dvorak, with rebind of caps to escape
setxkbmap -layout us -variant dvp -option caps:escape
setxkbmap layout

# Environment variables
export EDITOR="nvim"
export TERMINAL="kitty"
export BROWSER="google-chrome"

# XDG Paths
export XDG_CONFIG_HOME=$HOME/.config
export XDG_CACHE_HOME=$HOME/.cache
export XDG_DATA_HOME=$HOME/.local/share

# zsh config dir
export ZDOTDIR=$HOME/.config/zsh
