# Set key repeat: delay(ms) nrrepeats(s)
xset r rate 210 40

# rebind caps to escape
setxkbmap -option caps:escape

# Environment variables
export EDITOR="nvim"
export TERMINAL="alacritty"
export BROWSER="google-chrome"

# XDG Paths
export XDG_CONFIG_HOME=$HOME/.config
export XDG_CACHE_HOME=$HOME/.cache
export XDG_DATA_HOME=$HOME/.local/share

# zsh config dir
export ZDOTDIR=$HOME/.config/zsh
